/SistemaGestionBiblioteca/nbproject/private/
/JavaApplication12/nbproject/private/
/Clase08Arreglos/nbproject/private/
/Clase08Arreglos/build/
/ClaseSemana9/nbproject/private/
/El Cuartel Táctico/nbproject/private/
/ElCuartel/nbproject/private/
/ElCuartel/build/
/SistemaGestionBiblioteca/build/
/MiniPitStop/nbproject/private/
